@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Prosto+One&display=swap");
/* navbar */
.epiclinic {
  font-family: "Prosto One", sans-serif;

  font-size: 26px;
}
.CustomNavBar {
  background-color: #ffffff;
  padding: 10px;
  font-size: 19px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.nav-link {
  color: #000000;
  display: block;
  padding: 0px 7px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: 600;
  font-family: "Nanum Myeongjo", sans-serif;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover {
  color: #098ccb;
  text-decoration: none;
  background-color: #ffffff;
  border: 0;
}
.nav-link:focus {
  color: #098ccb;

  font-weight: 10000;

  border: 0;
}
/* homepage */
.image-container {
  position: relative;
  display: inline-block;
}
.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(151, 151, 151, 0.397); /* Adjust opacity as needed */
  padding: 20px;
  text-align: center;
  z-index: 1; /* Ensure jumbotron appears over the image */
  width: 70%;
  max-width: 70em;
  height: 70%;
  max-height: 70em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}
.epiclinic2 {
  font-family: "Prosto One", sans-serif;
  color: #ffffff;

  font-size: 8vw;
}
.jumbolead {
  color: #ffffff;
  font-style: italic;
  font-weight: 100;

  font-size: 2vw;
}
.customCardTitle {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 2.4em;
  font-weight: 1000;
}
.card-img {
  height: 25em;
  object-fit: cover;
}
.cardText {
  background-color: #ffffff80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  border: none;
}
.card-text {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}
/* This will change the background color of the dropdown menu */
.custom-dropdown .dropdown-menu {
  background-color: #ffffff;
  border: 0;
  border-radius: 3px;

  animation: openAnimation 0.5s forwards;
}

@keyframes openAnimation {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
