@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
/* navbar */
.epiclinic {
  font-family: "Prosto One", sans-serif;

  font-size: 26px;
}
.CustomNavBar {
  background-color: #ffffff;
  padding: 10px;
  font-size: 19px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.nav-link {
  color: #000000;
  display: block;
  padding: 0px 7px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: 600;
  font-family: "Nanum Myeongjo", sans-serif;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover {
  color: #098ccb;
  text-decoration: none;
  background-color: #ffffff;
  border: 0;
}
.nav-link:focus {
  color: #098ccb;

  font-weight: 10000;

  border: 0;
}
/* homepage */
.image-container {
  position: relative;
  display: inline-block;
}
.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(151, 151, 151, 0.397); /* Adjust opacity as needed */
  padding: 20px;
  text-align: center;
  z-index: 1; /* Ensure jumbotron appears over the image */
  width: 70%;
  max-width: 70em;
  height: 70%;
  max-height: 70em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;

  animation: fadeIn 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.epiclinic2 {
  font-family: "Prosto One", sans-serif;
  color: #ffffff;

  font-size: 8vw;
}
.jumbolead {
  color: #ffffff;
  font-style: italic;
  font-weight: 100;

  font-size: 2vw;
}
.customCardTitle {
  font-family: "Nanum Myeongjo", sans-serif;

  font-size: clamp(0.5em, 2.7vh, 2.4em);
  font-weight: 1000;
}
.card-img {
  height: 20em;
  max-height: 20%;

  object-fit: cover;
}
.cardText {
  background-color: #ffffff80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  border: none;
  animation: swing-in-top-fwd 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.card-text {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: clamp(0.5em, 19vh, 1.3em);
  font-weight: 500;
}

.custom-dropdown .dropdown-menu {
  background-color: #ffffff;
  border: 0;
  border-radius: 3px;

  animation: openAnimation 0.5s forwards;
}

@keyframes openAnimation {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.CarouselImg {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.infoBlock {
  background-color: #9ac1d42d;
  padding: 20px;
  border-radius: 10px;
  margin-block: 80px 20px;
}

.infoBlock h1 {
  font-family: "Mynerve", sans-serif;
  font-size: 3em;
  font-weight: 1000;
  margin-block: 10px;
}

.infoBlock p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: 500;
}
