@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");

#epiclinic {
  font-family: "Prosto One", sans-serif;
 
  font-size: 26px;
}
.CustomNavBar {
  background-color: #ffffff;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.nav-link {
  color: #000000;
  display: block;
  padding: 0px 7px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);

  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover {
  color: #797979;
  text-decoration: none;
  background-color: #ffffff;
  border: 0;
}
.nav-link:focus {
  color: #3b3b3b;

  font-weight: 500;

  border: 0;
}
